<!DOCTYPE html>
<!-- theiskmjlkdfk-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Makhrouds</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="Cssrecipe.css">

</head>

<body>


<nav class="navbar navbar-inverse" >

    <div class="container-fluid">
        <div class="navbar-header">

            <ul class="nav navbar-nav">
                <li><a href="Home.html">Home </a></li>
                <li><a href="Wing.html"> Wings</a></li>
                <li><a href="Makhrounds.html"> Makhrouds</a></li>
                <li><a href="Eggsauce.html"> Egg Sauce</a></li>
                <li><a href="Injera.html"> Injera</a></li>
                <li><a href="Crabcake.html">Cabcake</a></li>
            </ul>
        </div>
    </div></nav>


<div class="container">
    <div class="row">

        <h1 class="well col-md-6" style="text-align: center;"> Gulab Jawum recipe</h1>

        <div class="well col-md-3" >
            <img class="Flag"
                 src=" https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/255px-Flag_of_India.svg.png" > </div>


</div>



<div class="row">

    <img class="Foodpictures"
         src="  https://www.ndtv.com/cooks/images/gulab%20jamun%20new.jpg" ></div>


<div>

        <h2>ingredent</h2>



    <li><a>1 cup dry milk powder</a></li>

    <li><a>  3 tablespoons all-purpose flour</a></li>

    <li><a>2 tablespoons ghee (clarified butter), melted</a></li>

    <li><a> 1/2 teaspoon baking powder</a></li>

    <li><a>1/2 cup warm milk</a></li>

    <li><a>1 tablespoon chopped almonds (optional)</a></li>

    <li><a>1 tablespoon chopped pistachio nuts (optional)</a></li>

    <li><a> 1 tablespoon golden raisins (optional)</a></li>

    <li><a>1 pinch ground cardamom</a></li>

    <li><a>1 quart vegetable oil for deep frying</a></li>

    <li><a> 1 1/4 cups white sugar</a></li>

    <li><a>7 fluid ounces water</a></li>

    <li><a>1 teaspoon rose water</a></li>

    <li><a> 1 pinch ground cardamom</a></li>


</div>

</div>

<div class="col-md-12">
    <h3> direction </h3>
    <p> In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until well blended. Cover and let rest for 20 minutes.

        In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom. Bring to a boil, and simmer for just a minute. Set aside.

        Fill a large heavy skillet halfway with oil. Heat over medium heat for at least 5 minutes. Knead the dough, and form into about 20 small balls. Reduce the heat of the oil to low, and fry the balls in one or two batches. After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much. After the jamun float, increase the heat to medium, and turn them frequently until light golden. Remove from the oil to paper towels using a slotted spoon, and allow to cool. Drain on paper towels and allow to cool slightly.



        Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup. Serve immediately, or chill.
    </p>
</div>



<div>
    <div class="col-md-12">
        <h4> serves 8 people</h4>
    </div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>