<!DOCTYPE html>
<!-- theiskmjlkdfk-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> </title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="Cssrecipe.css">

</head>

<body>

<nav class="navbar navbar-default" >

    <div class="container-fluid"id="pink" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <spen class="icon-bar"></spen>
            </button>
            <a class="navbar-brand" href="#">Brand</a>

        </div>

        <div class= "collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="Home.html">Home </a></li>
                <li><a href="Wing.html"> Wings</a></li>

                <li><a href="Eggsauce.html"> Egg Sauce</a></li>
                <li><a href="Injera.html"> Injera</a></li>
                <li><a href="Gulabjawum.html"> Golabjawum </a></li>
                <li><a href="Crabcake.html">Cabcake</a></li>
            </ul>
        </div>
    </div>

</nav>

<div class="container">


<div class="row">
    <h1 class="well col-md-6" style="text-align: center;">Makhrouds recipe </h1>

    <div class="col-md-3">
        <img class="standardimage img-thumbnail"
             src="http://flags.fmcdn.net/data/flags/w580/dz.png" >  </div>



    <div class="well  col-md-3" style="picture-alen:center;">
        <img class="standardimage2 img-thumbnail"
             src="http://2.bp.blogspot.com/-56DfZ5NhmMs/Twy7hWW-_-I/AAAAAAABCpI/hjEREfS3Kkk/s1600/Tunisia_Flag5.gif" ></div>
    <h1> Algeria and Tunisia </h1>
</div>

<div class="row">
        <div class="well  col-md-6" style="picture-alen:center;">
            <img class="standardimage2 img-thumbnail"
                 src="https://i.pinimg.com/736x/8c/ed/0b/8ced0b7be3aa8dfa5f307e7a2a868522--tunisian-food-pastry-recipe.jpg"></div>


    <div class="col-md-3" style="text-align: left">
        <h2>ingredent</h2>

        <li><a>        suger          </a></li>

       <li><a>       500 g           </a></li>

       <li><a>       Lemon juice      </a></li>

      <li><a>         1/2 lemon          </a></li>

       <li><a>        Semolina          </a></li>

       <li><a>          500 g              </a></li>

       <li><a>          Flour                </a></li>

       <li><a>          Butter              </a> </li>

        <li><a>     125 g, salted           </a></li>

        <li><a>     Olive oil                    </a></li>

        <li><a>      100 ml, and oil for deep frying </a></li>

        <li><a>         Date paste               </a></li>

        <li><a>           250 g                  </a></li>


    </div>

</div>


    <div class="col-md-12">
        <h3> direction </h3>
        <p> Put the sugar in a pan with the lemon juice and 250 ml of water.

            Bring to the boil and simmer over a low heat for around 10 minutes until thick and syrupy. Remove from the heat.

            In a bowl, mix together the semolina and flour.

            Melt the butter and add to the dry ingredients, together with the oil.

            Mix together until homogeneous. Add a little more oil if necessary.

            Stir in boiling water, a tablespoonful at a time, until you have a smooth dough.

            Shape the dough into strands 3-4 cm thick and make a depression along the centre.

            Spoon the date paste into the depression and wrap the dough around it so that it encloses the paste.

            Flatten slightly and score in a diamond pattern.

            Cut into approx. 4 cm lengths and fry in the hot oil until crispy.

            Drain briefly on kitchen paper and transfer to the sugar syrup.

            Take out of the syrup to serve, and arrange in small cake cases, for example. </p>
    </div>
    <div class="col-md-12">
        <h4>To serve 8 people</h4>

        <script
                src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>